//=================================CONSTANS=====================================

//blocks sizes
$widthLayout: 960px;
$bufer: 20px;
$widthBufer: 20px;
$heightBufer: 20px;
$widthLeftSide: 300px;
$widthRightSide: $widthLeftSide;
$widthMiddleSide: $widthLeftSide;
$widthMiddleLeftSide: $widthLayout - $widthRightSide - $widthBufer;
$widthMiddleRightSide: $widthLayout - $widthLeftSide - $widthBufer;

//colors
$colorBlack: #000;
$colorWhite: #fff;
$colorBlue: #164a76;
$colorRed: #e42227;
$colorOrange: #e2916b;
$colorGreen: #62be00;
$colorPink: #e32a85;
$colorLightPink: #e47ba3;
$colorGray: #9a9a9a;
$colorLightGray: #7f7f7f;
$colorDarkGray: #4c4c4c;

$bodyBgColor: #fff;



//mediaqueries

//iphone
$iphone5: "only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-device-pixel-ratio: 2)";
$iphone5Portrait: $iphone5 + " and (orientation : portrait)";
$iphone5Landscape: $iphone5 + " and (orientation : landscape)";
$iphone4: "only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-device-pixel-ratio: 2)";
$iphone4Portrait: $iphone4 + " and (orientation : portrait)";
$iphone4Landscape: $iphone4 + " and (orientation : landscape)";
$iphone3: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$iphone3Portrait: $iphone3 + " and (orientation : portrait)";
$iphone3Landscape: $iphone3 + " and (orientation : landscape)";
$iphone: $iphone5 + "," + $iphone4 + "," + $iphone3;
$iphonePortrait: $iphone5Portrait + "," + $iphone4Portrait + "," + $iphone3Portrait;
$iphoneLandscape: $iphone5Landscape + "," + $iphone4Landscape + "," + $iphone3Landscape;

//ipad
$ipad2: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$ipad2Landscape: $ipad2 + " and (orientation : landscape)";
$ipad2Portrait: $ipad2 + " and (orientation : portrait)";
$ipad4: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)";
$ipad4Landscape: $ipad4 + " and (orientation : landscape)";
$ipad4Portrait: $ipad4 + " and (orientation : portrait)";
$ipad: $ipad2 + "," + $ipad4;
$ipadLandscape: $ipad2Landscape + "," + $ipad4Landscape;
$ipadPortrait: $ipad2Portrait + "," + $ipad4Portrait;

//width
$_1920: "all and (max-width: 1920px) and (min-width: 1601px)";
$_1600: "all and (max-width: 1600px) and (min-width: 1441px)";
$_1440: "all and (max-width: 1440px) and (min-width: 1367px)";
$_1366: "all and (max-width: 1366px) and (min-width: 1281px)";
$_1280: "all and (max-width: 1280px) and (min-width: 1025px)";
$_1024: "all and (max-width: 1024px) and (min-width: 967px)," + $ipadLandscape;
$_968: "all and (max-width: 968px) and (min-width: 801px)";
$_800: "all and (max-width: 800px) and (min-width: 769px)";
$_768: "all and (max-width: 768px)," + $ipadPortrait;

//mobile
$mobileDetection: "all and (max-device-width: 640px) and (max-device-height: 640px)";
$mobile: $mobileDetection + ", only screen and (max-width: 640px) and (max-height: 640px)";
$mobile480: $mobileDetection + " and (max-width: 480px), only screen and (max-width: 480px) and (max-height: 640px)";
$mobilePortrait: $mobile + " and (orientation : portrait)";
$mobileLandscape: $mobile + " and (orientation : landscape)";