@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@import 'base';
@import 'app-base';
@import 'mixins';
/*##################################LAYOUT####################################*/

@import 'reset'; 

/*@import '../../../../bower_components/twbs-bootstrap-sass/assets/stylesheets/_bootstrap-compass';
@import '../../../../bower_components/twbs-bootstrap-sass/assets/stylesheets/_bootstrap'; */

html{
    height: 100% !important;
}

body{
    height: 100% !important;
    font: normal 62.5% tahoma, arial, verdana, sans-serif;
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    background: $bodyBgColor;
}

main {
    min-height: 100% !important;
}

/*@import '_keyframes';*/
@import 'print';
/*@import '../../../../bower_components/components-font-awesome/scss/font-awesome';*/ 
@import 'fonts';
@import 'form';
@import 'media';
@import 'icons';

/*==================================TITLE=====================================*/

h1{
    font-size: 2.8em;
}

h2{
    font-size: 2.4em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.6em;
}

/*===================================LINK=====================================*/

a {
    color: $colorBlack;
}

a:link,
a:hover,
a:focus,
a:active,
a:visited{
    text-decoration: none;
}

a:link,
a:hover,
a:focus,
a:active,
a:visited,
.transition,
.transition:hover,
.transition:active {
    @include transition(all 0.3s ease 0s);
}

a:link.no_transition,
a:hover.no_transition,
a:focus.no_transition,
a:active.no_transition,
a:visited.no_transition,
.no_transition{
    @include transition(none);
}

.not_underline,
a.not_underline {
    
    &:link,
    &:visited{
        text-decoration: none;
    }
    
    &:hover{
        text-decoration: underline;
    }
    
}

.underline,
a.underline {
    
    &:link,
    &:visited{
        text-decoration: underline;
    }
    
    &:hover{
        text-decoration: none;
    }
    
}

/*===============================BUILD BLOCKS=================================*/

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-emulate {
    position: absolute !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
    overflow: hidden !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.clear{
    clear: both;
}

.clearfix {
    @include clearfix();
}

.up {
    text-transform: uppercase !important;
}

.down {
    text-transform: none !important;
}

.wrapper {
    position: relative;
    margin: 0 auto;
}

.container{
    position: relative;
    margin: 0 auto;
    width: $widthLayout;
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $colorWhite;
}

.insted-hr-gray{
    @include _insted-hr($colorGray,lighten($colorGray,30%));
}

.bufer-vertical{
    height: 100%;
    width: $widthBufer;
}

.bufer-horisontal{
    width: 100%;
    height: $heightBufer;
}

.text-blue, 
a:link.text-blue,  
a:visited.text-blue {
    color: $colorBlue;
}

.text-white,
a:link.text-white,
a:visited.text-white {
    color: $colorWhite;
}

.text-black,
a:link.text-black,
a:visited.text-black {
    color: $colorBlack;
}

.text-red,
a:link.text-red,
a:visited.text-red {
    color: $colorRed;
}

.text-orange, 
a:link.text-orange, 
a:visited.text-orange {
    color: $colorOrange;
}

.text-gray, 
a:link.text-gray, 
a:visited.text-gray{
    color: $colorGray;
}

.text-lightGray, 
a:link.text-lightGray, 
a:visited.text-lightGray{
    color: $colorLightGray;
}

.text-green, 
a:link.text-green, 
a:visited.text-green{
    color: $colorGreen;
}



/*=================================PATHWAY====================================*/

ul.pathway{
    display: block;

    li{
        display: block;
        float: left;
        margin: 0 4px 0 0;
        color: $colorLightGray;

        a{
            text-decoration: underline;
            color: $colorLightGray;
        }
    }
}

/*===============================PAGINATION===================================*/

ul.pages{
    text-align: center;

    li{
        display: inline-block;
        margin: 0 2px;
        vertical-align: top;

        a{
            display: block;
            color: #000000;
            text-decoration: underline;
        }
    }
}

/*==================================TXT=======================================*/

.txt{
    line-height: 1.8em;

    h3{
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 2em;
    }

    p{
        margin: 0 0 12px 0;
        text-align: justify;
        &.last{
            margin-bottom: 0;
        }
    }
}

/*================================PRELOADER===================================*/

.page-preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff url(../img/preloader.gif) center center no-repeat;

    img.preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -73px;
    }
}

.app-content-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 99999;
    background: url(../img/loading.gif) center center no-repeat;
}

/*############################################################################*/